<p style="color: green"><%= notice %></p>

<div class="py-5 mb-4 bg-light">
    <div class="container">
        <h1>Hello,  
          <%= @friend.first_name %>
          <%= @friend.last_name %>
        </h1>
          
        <p class="lead">
          <%= @friend.phone %> |
          <%= @friend.email %> |
          <%= @friend.twitter %> |
        </p>
        <br />
        <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-warning" %>
        <%= link_to "Back to friends", friends_path, class:"btn btn-warning" %>
    </div>
</div>

